header{
    background-color: darkcyan;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
}
body{
margin-right: 0;
margin-left: 0;
 z-index: 1;
  background-size: cover;
  background-attachment: fixed;
}
.color-1{
    background-color: yellow;
    width: 80%;
    height: 1px;
}
.color-2{
    background-color: cyan;
    width: 90%;
    height: 1px;
}
.color-3{
    background-color: red;
    height: 1px;
}
.t-center{
    text-align: center;
}
.container{
    border: 1px solid red;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
}
.container-2{
    border: 1px solid #000;
    margin: 1%;
}
.music{
    width: 95%;
    margin-left: 2%;
    border-radius: 10px;
}
.m-auto{
    margin: auto;
}
.form-control{
    margin: auto;
}
.d-flex{
    display: flex;
    flex-direction: column;
}
.f-size{
    font-size: 20px;
}
.button{
    margin: 10px;
    width: 40px;
    height: 40px;
}
.button-1{
    margin: 10px;
    margin-left: 43%;
    width: 40px;
    height: 40px;
}
.wi-100{
    width: 50%;
    margin-bottom: 0;
}
.container-3{
    background-color: gainsboro;
    width: 50%;
}
#s-image{
    border-radius: 50%;
   height: 40px;
  }
  footer{
      background-color: #271f1f57;
      text-align: center;
      margin-bottom: 0;
  }
  .g-p-m{
      margin-top: 1%;
  }
  .c-o-p{
   color: rgba(39, 31, 31, 0.342);
  }
  .container-4{
    border: 1px solid #000;
    margin: 1%;
    height: auto;
  }